<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AGOServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <!-- Turn customErrors to On in production level. -->
    <customErrors mode="Off" defaultRedirect="~/Error" />
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.0.0.0" newVersion="106.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OpenMcdf" publicKeyToken="fdbb1629d7c00800" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.12" newVersion="2.2.1.12" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <AGOServer.Properties.Settings>
      <setting name="SecureOTCSUsername_Filename" serializeAs="String">
        <value>otcs_username</value>
      </setting>
      <setting name="SecureOTCSSecret_Filename" serializeAs="String">
        <value>otcs_password</value>
      </setting>
      <setting name="SecureAESKey_Filename" serializeAs="String">
        <value>AES.key</value>
      </setting>
      <setting name="UseSecureCredentials" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SecureCSDBUsername_Filename" serializeAs="String">
        <value>csdb_username</value>
      </setting>
      <setting name="SecureCSDBPassword_Filename" serializeAs="String">
        <value>csdb_password</value>
      </setting>
      <setting name="LogDirectory" serializeAs="String">
        <value>./logs/</value>
      </setting>
      <setting name="LogConsoleLevel" serializeAs="String">
        <value>Debug</value>
      </setting>
      <setting name="LogFileName_Main" serializeAs="String">
        <value>main</value>
      </setting>
      <setting name="UseWindowsAuthentication" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExcludeDomainFromImpersonationUserName" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OTDS_REST_API" serializeAs="String">
        <value>http://localhost:8080/otdsws/rest</value>
      </setting>
      <setting name="DB_Password" serializeAs="String">
        <value>P@ssw0rd</value>
      </setting>
      <setting name="OTCS_Password" serializeAs="String">
        <value>P@ssw0rd</value>
      </setting>
      <setting name="DB_Username" serializeAs="String">
        <value>otcs</value>
      </setting>
      <setting name="KeywordSearchPattern" serializeAs="String">
        <value>({0})</value>
      </setting>
      <setting name="SearchFormQueryID" serializeAs="String">
        <value>229331</value>
      </setting>
      <setting name="DB_DataSource" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="DB_InitialCatalog" serializeAs="String">
        <value>CSDB</value>
      </setting>
      <setting name="SecureCredentialsPath" serializeAs="String">
        <value>C:\App\OpenText\CustomApp\emailbrowserapi\credentials\</value>
      </setting>
      <setting name="SecureOTCSPassword_Filename" serializeAs="String">
        <value>otcs_password</value>
      </setting>
      <setting name="LogFileLevel" serializeAs="String">
        <value>Debug</value>
      </setting>
      <setting name="AttachmentSystemRootFolderID" serializeAs="String">
        <value>47667</value>
      </setting>
      <setting name="FlatEmailListing_MaxCount" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="ArchiveFolderID" serializeAs="String">
        <value>168274</value>
      </setting>
      <setting name="ProfilePicture" serializeAs="String">
        <value>https://eu.ui-avatars.com/api/?name={name}</value>
      </setting>
      <setting name="CS_REST_URL" serializeAs="String">
        <value>http://localhost/otcs/cs.exe/api/</value>
      </setting>
      <setting name="SearchMode" serializeAs="String">
        <value>searchform</value>
      </setting>
      <setting name="DefaultUserName" serializeAs="String">
        <value>Admin</value>
      </setting>
      <setting name="BypassSessionValidation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OTCS_Username" serializeAs="String">
        <value>Admin</value>
      </setting>
      <setting name="FolderUnderEnterprise" serializeAs="String">
        <value>325797;4320;310445</value>
      </setting>
      <setting name="ShowSummarizer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowSearchListFolderLocation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EmailBrowserSummarizerApiBaseUri" serializeAs="String">
        <value>http://192.168.1.122:5111/api</value>
      </setting>
    </AGOServer.Properties.Settings>
  </applicationSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>